.blogs-container {
    width: 96%;
    max-width: 1148px;
    margin: 0 auto;
}

.card {
    color: #333;
}

.card:hover{
    color: rgb(242, 163, 15);
}

.card p{
    text-indent: 2.5rem;
    text-align: justify;
    font-size: 18px;
    margin-bottom: 5px;
}

.search-container {
    margin: 30px 0;
}

.search-input {
    padding: 1em 1em;
    width: 100%;
    font-size: 18px;
}

.search-input:focus {
    outline: none;
}